.articles-today__heading {
  position: absolute;
  top: 38px;
  margin-left: -2px;
  font-family: "PT Sans Caption";
  font-size: 28px;
  letter-spacing: -0.02em;
}

.articles-today__list {
  display: flex;
  flex-wrap: wrap;
}

.articles-today__item {
  box-sizing: border-box;
  min-height: 492px;
  margin-bottom: 25px;
  
  color: #ffffff;
  background-color: #000000;
  background-position-x: center;
  background-size: cover;
}

.articles-today__item-1 {
  width: 100%;
  background-image: url(../img/img-article1.png);

  & .articles-today__link {
    padding-top: 142px;
  }

  & .articles-today__info-wrapper {
    position: static;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }

  & .articles-today__author-info {
      margin-bottom: 0;
    }
}

.articles-today__item-2 {
  width: 65.52%;
  margin-right: 20px;
  background-image: url(../img/img-article2.png);

  & .articles-today__text {
    margin-top: 64px;
    max-width: 450px;
  }
}

.articles-today__item-3 {
  width: 31.3%;
  margin-left: auto;
  background-image: url(../img/img-article3.png);

  & .articles-today__info-wrapper {
    margin-left: -2px;
  }
}

.articles-today__link {
  min-height: 476px;
  margin: 8px;
  padding: 77px 12px 22px 12px;
}

.articles-today__info-wrapper {
  position: absolute;
  bottom: 25px;
}

.articles-today__author-info {
  margin-bottom: 5px;
}

.articles-today__topic {
  display: inline-block;
  width: 118px;
  padding: 3px 0;
  font-family: "Brutal", Arial ,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #FAAF3F;
  border-radius: 2px;
}

.articles-today__name {
  margin-top: 40px;
  max-width: 558px;
  font-family: "Brutal", Arial ,sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
}

.articles-today__text {
  margin-top: 45px;
  font-size: 18px;
  line-height: 24px;
}

.articles-today__author {
  margin-right: -2px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.articles-today__time {
  font-size: 10px;
}

.articles-today__final-text {
  margin-left: -2px;
  margin-top: 2px;
  font-size: 17px;
  line-height: 24px;
  color: $block-text-color;
}

.articles-today__bold-text {
  font-weight: bold;
}

@include media-tablet-horizontal {
  .articles-today__item-1 {
    min-height: 386px;
    background-image: url(../img/tablet-goriz-article1.png);

    & .articles-today__extra-info {
      padding-top: 0;
      margin-right: -1px;
    }
  }

  .articles-today__item-2 {
    width: 354px;

    & .articles-today__text {
      display: none;
    }
  }

  .articles-today__item-3 {
    width: 354px;
    background-image: url(../img/tablet-goriz-article3.png);

    & .articles-today__info-wrapper {
      margin-left: 0;
    }
  }

  .articles-today__heading {
    top: 29px;
  }

  .articles-today__item {
    max-height: 492px;
  }
}

@include media-tablet-vertical {
  .articles-today__heading {
    top: 34px;
    margin-left: 14px;
  }

  .articles-today__item {
    width: 100%;
    min-height: 386px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .articles-today__item-1 {
    background-image: url(../img/tablet-vert-article1.png);

    & .articles-today__link {
      padding-top: 64px;
    }

    & .articles-today__info-wrapper {
      position: absolute;
      display: block;
    }

    .articles-today__author-info {
      margin-bottom: 5px;
    }
  }

  .articles-today__item-2 {
    background-image: url(../img/tablet-vert-article2.png);
  }

  .articles-today__item-3 {
    background-image: url(../img/tablet-vert-article3.png);
  }

  .articles-today__link  {
    min-height: 370px;
    width: calc(100% - 16px);
    padding-top: 64px;
    padding-left: 11px;
  }

  .articles-today__name {
    margin-top: 25px;
  }

  .articles-today__text {
    display: none;
  }

  .articles-today__author-info {
    margin-bottom: 2px;
  }

  .articles-today__info-wrapper {
    bottom: 10px;
    left: 23px;
  }

  .articles-today__final-text {
    padding: 0 16px;
    margin-top: 12px;
  }
}

@include media-mobile {
  .articles-today__heading {
    top: 22px;
    margin-left: 11px;
    font-size: 20px;
  }

  .articles-today__item-1 {
    background-image: url(../img/mobile-article1.png);

    .articles-today__link  {
      padding-top: 108px;
    }

    .articles-today__author-info {
      margin-bottom: 8px;
    }
  }

  .articles-today__item-3 {
    background-image: url(../img/mobile-article3.png);
  }


  .articles-today__link  {
    margin: 6px;
    padding: 108px 14px 24px 8px;
    min-height: 374px;
    width: calc(100% - 12px);
  }

  .articles-today__topic {
    width: 104px;
  }

  .articles-today__name {
    font-size: 20px;
    line-height: 28px;
  }

  .articles-today__info-wrapper {
    bottom: 23px;
    left: 8px;
  }

  .articles-today__author-info {
    margin-bottom: 5px;
  }

  .articles-today__final-text {
    padding: 0px 19px;
  }
}








