.articles-best {
  margin-top: 23px;

  &__periods {
    display: inline-block;
  }

  &__period {
    display: inline-block;
    margin-right: 50px;
    padding: 3px 0 4px;
  
    &:nth-child(2) {
      margin-right: 42px;
    }

    &--current {
      position: relative;
      top: 0px;
      right: 1px;
      padding-bottom: 4px;
      border-bottom: 2px solid $darker-orange;
    }
  }

  &__button {
    padding: 0;
    border: none;
    background: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  
    &:focus {
      outline: $black dotted 1px;
      outline-offset: 5px;
    }
  }

  &__slider-buttons {
    top: 1px;
    right: -10px;
  }

  &__articles {
    margin-top: 29px;
    margin-left: -1px;
  }

  &__article {
    width: 250px;
    min-height: 177px;
    margin-right: 20px;
    background-position: center;
    background-size: cover;

    &:nth-child(1) {
      background-image: url(../img/little-article-1.png);
    
      .articles-best__heading {
        margin-top: -6px;
        font-family: "Brutal", Arial, sans-serif;
        text-transform: capitalize;
      }
    
      .articles-best__extra-info {
        margin-left: -1px;
      }
    }

    &:nth-child(2) {
      background-image: url(../img/little-article-2.png);
    
      .articles-best__extra-info {
        margin-left: -1px;
      }
    }
    
    &:nth-child(3) {
      margin-right: 0;
      background-image: url(../img/little-article-3.png);
    }
  }

  &__link {
    min-height: 161px;
    margin: 8px;
    padding: 12px;
  }

  &__heading {
    display: inline-block;
    margin-top: -3px;
    font-family: "PT Sans Caption", Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    word-wrap: break-word;
    letter-spacing: -0.02em;
  }

  &__extra-info {
    position: absolute;
    bottom: 15px;
  }
}

@include media-tablet-horizontal {
  .articles-best__period--current {
    position: relative;
    top: -2px;
    right: 2px;
    padding-bottom: 6px;
  }

  .articles-best__articles {
    margin-top: 27px;
    margin-left: -2px;
  }

  .articles-best__article:nth-child(1),
  .articles-best__article:nth-child(2) {
    .articles-best__extra-info {
      margin-left: 0px;
    }
  }

  .articles-best__extra-info {
    margin-left: 1px;
  }
}

@include media-tablet-vertical {
  .articles-best {
    margin-top: 25px;
    margin-left: 16px; 
    
    &__period--current {
      top: 0px;
      border-bottom-width: 4px;
    }
  }
}

@include media-mobile {
  .articles-best {
    margin-top: 27px;

    &__period {
      margin-right: 12px;

      &--current {
        right: 1px;
        padding-bottom: 2px;
        border-bottom-width: 2px;
      }

      &:nth-child(2) {
        margin-right: 11px;
    
        .articles-best__button--mobile {
          width: 50px;
          
          &::after {
            content: 'Год';
          }
        }
      }

      &:nth-child(3) {
        margin-right: 0;
      
        .articles-best__button--mobile::after {
          content: 'Все время';
        }
      }
    }

    &__button--mobile {
      width: 80px;
      height: 24px;
      font-size: 0;
  
      &::after {
        font-size: 17px;
        line-height: 24px;
        font-weight: bold;
        color: $light-black;
      }
    }

    &__articles {
      margin-top: 21px;
    }

    &__article {
      margin-right: 16px;
    }

    &__link {
      min-height: 167px;
      margin: 5px;
      padding: 15px 4px 18px 15px;
    }

    &_extra-info {
      bottom: 18px;
    }
  }
}


