.hover-link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  color: $white;
  outline: none!important;
  
  &::after {
    content: '';
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/corner.png),
                      url(../img/corner2.png),
                      url(../img/corner3.png),
                      url(../img/corner4.png);
    background-repeat: no-repeat;
    background-position: 0% 0%,100% 0%,100% 100%,0% 100%;
    background-size: 20px;
    transition: opacity 0.1s linear;
  }

  @include hoverSupport { 
    &::after {
      opacity: 1;
      transition: opacity 0.1s linear;
    }
  }

  &:focus::after {
    opacity: 1;
    transition: opacity 0.1s linear;
  }
}

@include media-mobile {
  .hover-link::after {
    background-size: 15px;
  }
}