.page-main {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background-color: $white;

  &__wrapper {
    position: relative;
    display: flex;
    padding: 99px 0 0;
    padding-right: calc(50% - 533px);
    padding-left: calc(50% - 528px);
  }  

  &__wrapper-left {
    max-width: 789px;
    padding-right: 20px;
  }

  &__wrapper-right {
    width: 251px;
    flex-shrink: 0;
  }
}

@include media-tablet-horizontal {
  .page-main__wrapper {
    padding-top: 94px;
    padding-right: calc(50% - 501px);
    padding-left: calc(50% - 501px);
  }

  .page-main__wrapper-left {
    max-width: 730px;
  }
}

@include media-tablet-vertical {
  .page-main__wrapper {
    display: block;
    padding: 97px 0 0;
  }
  
  .page-main__wrapper-left {
    max-width: 1020px;
    padding: 0;
  }

  .page-main__wrapper-right {
    display: none;
  }
}

@include media-mobile {
  .page-main__wrapper {
    padding-top: 66px;
  }
}