.page-header {
  position: relative;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  &__wrapper {
    display: flex;
    align-items: center;
    height: 173px;
    background-color: $dark-blue;
  }

  &__logo {
    flex-shrink: 0;
    margin-left: 43px; 
    margin-top: 16px;
  }

  &__logo-icon {
    width: 378px;
    height: 89px;

    .logo-mobile {
      display: none;
    }
  }

  &__text {
    margin-left: 53px; 
    max-width: 658px;
    font-family: "PT Sans Caption", Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: $white;
  }

  &__login {
    align-self: start;
    margin-top: 14px;
    margin-right: 19px;
    margin-left: 18px;
    font-size: 15px;
    line-height: 10px;
    font-weight: bold;
    text-decoration: none;
    color: $white;
    outline: none;
  
    &:focus {
      outline: solid 1px $white;
      outline-offset: 4px;
    }
  }
}

@include media-tablet-horizontal {
  .page-header__logo {
    margin-left: 27px;
  }

  .page-header__text {
    margin-left: 19px;
    margin-bottom: -9px;
  }

  .page-header__login {
    margin: 16px 16px 0 10px;
  }
}

@include media-tablet-vertical {
  .page-header__logo {
    flex-shrink: 1;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    margin-left: 0;
  }

  .page-header__text {
    display: none;
  }

  .page-header__login {
    margin-left: auto;
  }
}

@include media-mobile {
  .page-header__wrapper {
    height: 48px;
  }
  
  .page-header__logo {
    position: static;
    height: 34px;
    margin: auto;
    margin-left: 71px;
    background: url(../img/logo-mobile-H.svg) center no-repeat;
  }

  .page-header__logo-icon {
    width: 35px;
    height: 34px;

    .logo-desktop {
      display: none;
    }
  
    .logo-mobile {
      display: block;
    }  
  }

  .page-header__login {
    margin-top: 19px;
    margin-right: 16px;
  }
}