.site-nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.site-nav__toggle {
  position: relative;
  width: 14px;
  height: 18px;
  margin-left:47px;
  margin-right: 17.5px;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;

 &:focus {
  outline: solid 1px black;
  outline-offset: 2px;
 }
}

.site-nav__toggle::before {
  content: '';
  position: absolute;
  top: 13%;
  left: 0;
  width: 14px;
  height: 2px;
  background-color: #333333;
  box-shadow: 0 5.5px 0 0 #333333,
              0 11px 0 0 #333333;
}

.site-nav__search {
  margin-left: auto;
  margin-right: 10px;
  padding: 0;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background: url(../img/search.svg) center no-repeat;
  background-color: transparent;
  border: none;

  &:focus {
    outline: solid 1px black;
    outline-offset: 4px;
  }
}

.site-nav__search-tablet {
  display: none;
}

@media (max-width:1024px) {
  .site-nav__toggle {
    margin-left: 40px;
    margin-right: 6px;
  }

  .site-nav__toggle {
    width: 12px;
    height: 17px;

    &::before {
      width: 12px;
      box-shadow: 0 5px 0 0 #333333,
                0 10px 0 0 #333333;
    }
  }

  .site-nav__search {
    margin-right: 19px;
  }
}

@media (max-width:925px) {
  .site-nav__toggle--mobile {
    position: absolute;
    width: 20.5px;
    height: 20px;
    top: 14px;
    left: -25px;

    &:focus {
      outline-color: #ffffff;
     }
  }

  .site-nav__toggle--mobile::before{
    width: 18.5px;
    left: 1px;
    top: 2px;
    height: 3px;
    background-color: #ffffff;
    box-shadow: 0 6.5px 0 0 #ffffff,
              0 13px 0 0 #ffffff;
  }

  .site-nav__search {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 5px;
    background-image: none;

    &:focus {
      outline-offset: 2px;
    }
  }

  .site-nav__search-tablet {
    display: inline-block;
    padding: 0 13px;
    font-family: "Brutal", Arial, sans-serif;
    color: #000000;
  }
}

@media (max-width:500px) {
  .site-nav__search--mobile {
    display: inline-block;
    position: absolute;
    right: 53px;
    top: 15px;
    width: 18px;
    height: 18px;
    background: url(../img/search-mobile.svg) center no-repeat;

    &:focus {
      outline-color: #ffffff;
    }
  }

  .site-nav__search-tablet {
    display: none
  }
}

@media (max-width:320px) {
  .site-nav__search--mobile {
    top: 15px;
    left: 245px;
    margin: 0;
  }
}