.slider {
  position: relative;

  &__buttons {
    position: absolute;
    display: inline-block;
  }

  &__button {
    position: relative;
    width: 31px;
    height: 30px;
    padding: 0;
    border: none;
    background: none;
  
    &:focus {
      outline: $black dotted 1px;
    }

    &--prev {
      background: url(../img/arrows.png) -1px 0px no-repeat;
    }

    &--next {
      background: url(../img/arrows.png) -21px 0px no-repeat;
    }
  }

  &__list {
    display: flex;
    overflow: hidden;   
  }

  &__item {
    flex-shrink: 0;
  }
}

@include media-tablet-horizontal {
  .slider__buttons {
    display: none;
  }
}