.slider {
  position: relative;
}

.slider__buttons {
  display: inline-block;
  position: absolute;
}

.slider__button {
  position: relative;
  width: 31px;
  height: 30px;
  padding: 0;
  background: none;
  border: none;

  &:focus {
    outline: $black dotted 1px;
  }
}

.slider__button--prev {
  background: url(../img/prev.png) center no-repeat;
}

.slider__button--next {
  background: url(../img/next.png) center no-repeat;
}

.slider__list {
  display: flex;
  overflow: hidden;   
}

.slider__item {
  flex-shrink: 0;
}

@include media-tablet-horizontal {
  .slider__buttons {
    display: none;
  }
}