@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: "Brutal";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Brutal/regular/BrutalRegular.woff2") format("woff2"), url("../fonts/Brutal/regular/BrutalRegular.woff") format("woff"); }

@font-face {
  font-weight: 500;
  font-family: "Brutal";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Brutal/medium/BrutalMedium.woff2") format("woff2"), url("../fonts/Brutal/medium/BrutalMedium.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "Brutal";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Brutal/bold/BrutalBold.woff2") format("woff2"), url("../fonts/Brutal/bold/BrutalBold.woff") format("woff"); }

@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSans/Regular/PTSansRegular.woff2") format("woff2"), url("../fonts/PTSans/Regular/PTSansRegular.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSans/Bold/PTSansBold.woff2") format("woff2"), url("../fonts/PTSans/Bold/PTSansBold.woff") format("woff"); }

@font-face {
  font-weight: 400;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PT_Sans_Caption/Regular/PTSansCaptionRegular.woff2") format("woff2"), url("../fonts/PT_Sans_Caption/Regular/PTSansCaptionRegular.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PT_Sans_Caption/Bold/PTSansCaptionBold.woff2") format("woff2"), url("../fonts/PT_Sans_Caption/Bold/PTSansCaptionBold.woff") format("woff"); }

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  color: #000000; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-body {
  background-color: #E5E5E5; }

.page-header {
  position: relative;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }

.page-header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 173px;
  background-color: #223036; }

.page-header__logo {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-left: 43px;
  margin-top: 16px; }

.page-header__logo-icon {
  width: 378px;
  height: 89px; }

.logo-mobile {
  display: none; }

.page-header__text {
  margin-left: 53px;
  max-width: 658px;
  font-family: "PT Sans Caption", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff; }

.page-header__login {
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  margin-top: 14px;
  margin-right: 19px;
  margin-left: 18px;
  font-size: 15px;
  line-height: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  outline: none; }
  .page-header__login:focus {
    outline: solid 1px #ffffff;
    outline-offset: 4px; }

@media (max-width: 1100px) {
  .page-header__logo {
    margin-left: 27px; }
  .page-header__text {
    margin-left: 19px;
    margin-bottom: -9px; }
  .page-header__login {
    margin: 16px 16px 0 10px; } }

@media (max-width: 1020px) {
  .page-header__logo {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    position: relative;
    left: 50%;
    right: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-left: 0; }
  .page-header__text {
    display: none; }
  .page-header__login {
    margin-left: auto; } }

@media (max-width: 570px) {
  .page-header__wrapper {
    height: 48px; }
  .page-header__logo {
    position: static;
    height: 34px;
    margin: auto;
    margin-left: 71px;
    background: url(../img/logo-mobile-H.svg) center no-repeat; }
  .page-header__logo-icon {
    width: 35px;
    height: 34px; }
  .logo-desktop {
    display: none; }
  .logo-mobile {
    display: block; }
  .page-header__login {
    margin-top: 19px;
    margin-right: 16px; } }

.site-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff; }

.site-nav__toggle {
  position: relative;
  width: 14px;
  height: 18px;
  margin-left: 47px;
  margin-right: 17.5px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  outline: none;
  background: none;
  border: none; }
  .site-nav__toggle:focus {
    outline: solid 1px #000000;
    outline-offset: 2px; }

.site-nav__toggle::before {
  content: '';
  position: absolute;
  top: 13%;
  left: 0;
  width: 14px;
  height: 2px;
  background-color: #333333;
  -webkit-box-shadow: 0 5.5px 0 0 #333333, 0 11px 0 0 #333333;
          box-shadow: 0 5.5px 0 0 #333333, 0 11px 0 0 #333333; }

.site-nav__search {
  margin-left: auto;
  margin-right: 10px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 18px;
  height: 18px;
  background: url(../img/search.svg) center no-repeat;
  background-color: transparent;
  border: none; }
  .site-nav__search:focus {
    outline: solid 1px #000000;
    outline-offset: 4px; }

.site-nav__search-tablet {
  display: none; }

@media (max-width: 1100px) {
  .site-nav__toggle {
    width: 12px;
    height: 17px;
    margin-left: 40px;
    margin-right: 6px; }
    .site-nav__toggle::before {
      width: 12px;
      -webkit-box-shadow: 0 5px 0 0 #333333, 0 10px 0 0 #333333;
              box-shadow: 0 5px 0 0 #333333, 0 10px 0 0 #333333; }
  .site-nav__search {
    margin-right: 19px; } }

@media (max-width: 1020px) {
  .site-nav__toggle--mobile {
    position: absolute;
    width: 20.5px;
    height: 20px;
    top: 14px;
    left: -25px; }
    .site-nav__toggle--mobile:focus {
      outline-color: #ffffff; }
  .site-nav__toggle--mobile::before {
    width: 18.5px;
    left: 1px;
    top: 2px;
    height: 3px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 6.5px 0 0 #ffffff, 0 13px 0 0 #ffffff;
            box-shadow: 0 6.5px 0 0 #ffffff, 0 13px 0 0 #ffffff; }
  .site-nav__search {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 5px;
    background-image: none; }
    .site-nav__search:focus {
      outline-offset: 2px; }
  .site-nav__search-tablet {
    display: inline-block;
    padding: 0 13px;
    font-family: "Brutal", Arial, sans-serif;
    color: #000000; } }

@media (max-width: 570px) {
  .site-nav__search--mobile {
    display: inline-block;
    position: absolute;
    right: 53px;
    top: 15px;
    width: 18px;
    height: 18px;
    background: url(../img/search-mobile.svg) center no-repeat; }
    .site-nav__search--mobile:focus {
      outline-color: #ffffff; }
  .site-nav__search-tablet {
    display: none; } }

@media (max-width: 320px) {
  .site-nav__search--mobile {
    top: 15px;
    left: 245px;
    margin: 0; } }

.site-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.site-list__item:nth-child(2) {
  margin-right: 8px; }

.site-list__item:nth-child(3) {
  margin-right: 2px; }

.site-list__item:nth-child(4) {
  margin-right: 4px; }

.site-list__item {
  padding: 13px 12px 12px; }

.site-list__link {
  display: inline-block;
  font-family: "Brutal", Arial, sans-serif;
  letter-spacing: -0.015em;
  padding: 1px 13px;
  color: #000000;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear; }
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
    .site-list__link:hover {
      background-color: #FAAF3F;
      color: #ffffff;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear; } }
  .site-list__link:focus {
    outline: 1px solid #000000; }

@media (max-width: 1100px) {
  .site-list__item:nth-child(1) {
    margin-right: 1px; }
  .site-list__item:nth-child(2) {
    margin-right: 7px; } }

@media (max-width: 1020px) {
  .site-list {
    -webkit-box-flex: 0.76;
    -webkit-flex-grow: 0.76;
        -ms-flex-positive: 0.76;
            flex-grow: 0.76;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .site-list__item {
    padding-right: 0.94vw;
    padding-left: 0.94vw; }
  .site-list__link {
    padding-right: 1.7vw;
    padding-left: 1.7vw; }
  .site-list__item:nth-child(1) {
    margin-left: -2px;
    margin-right: 3px; }
  .site-list__item:nth-child(2) {
    margin-right: 5px; }
  .site-list__item:nth-child(3) {
    margin-right: 0px; }
  .site-list__item:nth-child(4) {
    margin-right: 2px; }
  .site-list__item:nth-child(5) {
    margin-right: 8px; } }

@media (max-width: 570px) {
  .site-list {
    max-height: 48px;
    margin: 0 auto;
    padding: 0 8px; }
  .site-list__item:nth-child(n) {
    margin-right: 0;
    margin-left: 0;
    padding: 13px 0 12px; }
  .site-list__item:nth-child(1) {
    margin-right: 1px; }
  .site-list__item:nth-child(2) {
    margin-right: -3px; }
  .site-list__item:nth-child(4) {
    margin-left: 3px; }
  .site-list__item:nth-child(5) {
    margin-left: 2px; }
  .site-list__link {
    font-family: "PT Sans Caption", Arial, sans-serif;
    font-size: 14px; } }

.page-main {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ffffff; }

.page-main__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 99px 0 0;
  padding-right: -webkit-calc(50% - 533px);
  padding-right: calc(50% - 533px);
  padding-left: -webkit-calc(50% - 528px);
  padding-left: calc(50% - 528px); }

.page-main__wrapper-left {
  max-width: 789px;
  padding-right: 20px; }

.page-main__wrapper-right {
  width: 251px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

@media (max-width: 1100px) {
  .page-main__wrapper {
    padding-top: 94px;
    padding-right: -webkit-calc(50% - 501px);
    padding-right: calc(50% - 501px);
    padding-left: -webkit-calc(50% - 501px);
    padding-left: calc(50% - 501px); }
  .page-main__wrapper-left {
    max-width: 730px; } }

@media (max-width: 1020px) {
  .page-main__wrapper {
    display: block;
    padding: 97px 0 0; }
  .page-main__wrapper-left {
    max-width: 1020px;
    padding: 0; }
  .page-main__wrapper-right {
    display: none; } }

@media (max-width: 570px) {
  .page-main__wrapper {
    padding-top: 66px; } }

.articles-today__heading {
  position: absolute;
  top: 38px;
  margin-left: -2px;
  font-family: "PT Sans Caption";
  font-size: 28px;
  letter-spacing: -0.02em; }

.articles-today__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.articles-today__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 492px;
  margin-bottom: 25px;
  color: #ffffff;
  background-color: #000000;
  background-position-x: center;
  background-size: cover; }
  .articles-today__item-1 {
    width: 100%;
    background-image: url(../img/img-article1.png); }
    .articles-today__item-1 .articles-today__link {
      padding-top: 142px; }
    .articles-today__item-1 .articles-today__info-wrapper {
      position: static;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 45px; }
    .articles-today__item-1 .articles-today__author-info {
      margin-bottom: 0; }
  .articles-today__item-2 {
    width: 65.52%;
    margin-right: 20px;
    background-image: url(../img/img-article2.png); }
    .articles-today__item-2 .articles-today__text {
      margin-top: 64px;
      max-width: 450px; }
  .articles-today__item-3 {
    width: 31.3%;
    margin-left: auto;
    background-image: url(../img/img-article3.png); }
    .articles-today__item-3 .articles-today__info-wrapper {
      margin-left: -2px; }

.articles-today__link {
  min-height: 476px;
  margin: 8px;
  padding: 77px 12px 22px 12px; }

.articles-today__info-wrapper {
  position: absolute;
  bottom: 25px; }

.articles-today__author-info {
  margin-bottom: 5px; }

.articles-today__topic {
  display: inline-block;
  width: 118px;
  padding: 3px 0;
  font-family: "Brutal", Arial ,sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #FAAF3F;
  border-radius: 2px; }

.articles-today__name {
  margin-top: 40px;
  max-width: 558px;
  font-family: "Brutal", Arial ,sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75); }

.articles-today__text {
  margin-top: 45px;
  font-size: 18px;
  line-height: 24px; }

.articles-today__author {
  margin-right: -2px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px; }

.articles-today__time {
  font-size: 10px; }

.articles-today__final-text {
  margin-left: -2px;
  margin-top: 2px;
  font-size: 17px;
  line-height: 24px;
  color: #333333; }

.articles-today__bold-text {
  font-weight: bold; }

@media (max-width: 1100px) {
  .articles-today__item-1 {
    min-height: 386px;
    background-image: url(../img/tablet-goriz-article1.png); }
    .articles-today__item-1 .articles-today__extra-info {
      padding-top: 0;
      margin-right: -1px; }
  .articles-today__item-2 {
    width: 354px; }
    .articles-today__item-2 .articles-today__text {
      display: none; }
  .articles-today__item-3 {
    width: 354px;
    background-image: url(../img/tablet-goriz-article3.png); }
    .articles-today__item-3 .articles-today__info-wrapper {
      margin-left: 0; }
  .articles-today__heading {
    top: 29px; }
  .articles-today__item {
    max-height: 492px; } }

@media (max-width: 1020px) {
  .articles-today__heading {
    top: 34px;
    margin-left: 14px; }
  .articles-today__item {
    width: 100%;
    min-height: 386px;
    margin-right: 0;
    margin-bottom: 15px; }
    .articles-today__item-1 {
      background-image: url(../img/tablet-vert-article1.png); }
      .articles-today__item-1 .articles-today__link {
        padding-top: 64px; }
      .articles-today__item-1 .articles-today__info-wrapper {
        position: absolute;
        display: block; }
      .articles-today__item-1 .articles-today__author-info {
        margin-bottom: 5px; }
    .articles-today__item-2 {
      background-image: url(../img/tablet-vert-article2.png); }
    .articles-today__item-3 {
      background-image: url(../img/tablet-vert-article3.png); }
  .articles-today__link {
    min-height: 370px;
    width: -webkit-calc(100% - 16px);
    width: calc(100% - 16px);
    padding-top: 64px;
    padding-left: 11px; }
  .articles-today__name {
    margin-top: 25px; }
  .articles-today__text {
    display: none; }
  .articles-today__author-info {
    margin-bottom: 2px; }
  .articles-today__info-wrapper {
    bottom: 10px;
    left: 23px; }
  .articles-today__final-text {
    padding: 0 16px;
    margin-top: 12px; } }

@media (max-width: 570px) {
  .articles-today__heading {
    top: 22px;
    margin-left: 11px;
    font-size: 20px; }
  .articles-today__item-1 {
    background-image: url(../img/mobile-article1.png); }
    .articles-today__item-1 .articles-today__link {
      padding-top: 108px; }
    .articles-today__item-1 .articles-today__author-info {
      margin-bottom: 8px; }
  .articles-today__item-3 {
    background-image: url(../img/mobile-article3.png); }
  .articles-today__link {
    margin: 6px;
    padding: 108px 14px 24px 8px;
    min-height: 374px;
    width: -webkit-calc(100% - 12px);
    width: calc(100% - 12px); }
  .articles-today__topic {
    width: 104px; }
  .articles-today__name {
    font-size: 20px;
    line-height: 28px; }
  .articles-today__info-wrapper {
    bottom: 23px;
    left: 8px; }
  .articles-today__author-info {
    margin-bottom: 5px; }
  .articles-today__final-text {
    padding: 0px 19px; } }

.info-icons {
  position: relative;
  width: 169px;
  height: 17px;
  padding-top: 3px; }

.info-icons__icon {
  position: relative;
  top: -1px;
  margin-right: 3px;
  font-family: "PT Sans Caption", Arial, sans-serif;
  font-size: 10px;
  line-height: 16px; }
  .info-icons__icon:nth-child(1) {
    left: -1px; }
  .info-icons__icon:nth-child(3) {
    top: -2px;
    left: 2px; }
  .info-icons__icon:nth-child(4) {
    top: -2px;
    left: 1px; }
  .info-icons__icon:last-child {
    margin-right: 0; }
  .info-icons__icon::before {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 20px;
    height: 20px; }
  .info-icons__icon:nth-child(1)::before {
    content: url(../img/views.png);
    left: 1px;
    top: 1px; }
  .info-icons__icon:nth-child(2)::before {
    content: url(../img/likes.png);
    left: 1px; }
  .info-icons__icon:nth-child(3)::before {
    content: url(../img/reviews.png); }
  .info-icons__icon:nth-child(4)::before {
    content: url(../img/repost.png);
    left: 4px; }

.hover-link {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  outline: none !important; }
  .hover-link::after {
    content: '';
    opacity: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/corner.png), url(../img/corner2.png), url(../img/corner3.png), url(../img/corner4.png);
    background-repeat: no-repeat;
    background-position: 0% 0%,100% 0%,100% 100%,0% 100%;
    background-size: 20px;
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear; }
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
    .hover-link:hover::after {
      opacity: 1;
      -webkit-transition: opacity 0.1s linear;
      -o-transition: opacity 0.1s linear;
      transition: opacity 0.1s linear; } }
  .hover-link:focus::after {
    opacity: 1;
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear; }

@media (max-width: 570px) {
  .hover-link::after {
    background-size: 15px; } }

.slider {
  position: relative; }

.slider__buttons {
  display: inline-block;
  position: absolute; }

.slider__button {
  position: relative;
  width: 31px;
  height: 30px;
  padding: 0;
  background: none;
  border: none; }
  .slider__button:focus {
    outline: #000000 dotted 1px; }

.slider__button--prev {
  background: url(../img/prev.png) center no-repeat; }

.slider__button--next {
  background: url(../img/next.png) center no-repeat; }

.slider__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.slider__item {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

@media (max-width: 1100px) {
  .slider__buttons {
    display: none; } }

.articles-best {
  margin-top: 23px; }
  .articles-best__periods {
    display: inline-block; }
  .articles-best__period {
    display: inline-block;
    padding: 3px 0 4px;
    margin-right: 50px; }
    .articles-best__period:nth-child(2) {
      margin-right: 42px; }
    .articles-best__period--current {
      position: relative;
      top: 0px;
      right: 1px;
      padding-bottom: 4px;
      border-bottom: 2px solid #F7AB32; }
  .articles-best__button {
    font-family: inherit;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    padding: 0;
    background: none;
    border: none; }
    .articles-best__button:focus {
      outline: #000000 dotted 1px;
      outline-offset: 5px; }
  .articles-best__slider-buttons {
    right: -10px;
    top: 1px; }
  .articles-best__articles {
    margin-top: 29px;
    margin-left: -1px; }
  .articles-best__article {
    width: 250px;
    min-height: 177px;
    background-position: center;
    background-size: cover;
    margin-right: 20px; }
    .articles-best__article:nth-child(1) {
      background-image: url(../img/little-article-1.png); }
      .articles-best__article:nth-child(1) .articles-best__heading {
        margin-top: -6px;
        font-family: "Brutal", Arial, sans-serif;
        text-transform: capitalize; }
      .articles-best__article:nth-child(1) .articles-best__extra-info {
        margin-left: -1px; }
    .articles-best__article:nth-child(2) {
      background-image: url(../img/little-article-2.png); }
      .articles-best__article:nth-child(2) .articles-best__extra-info {
        margin-left: -1px; }
    .articles-best__article:nth-child(3) {
      margin-right: 0;
      background-image: url(../img/little-article-3.png); }
  .articles-best__link {
    min-height: 161px;
    margin: 8px;
    padding: 12px; }
  .articles-best__heading {
    display: inline-block;
    font-family: "PT Sans Caption", Arial, sans-serif;
    margin-top: -3px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    word-wrap: break-word;
    letter-spacing: -0.02em; }
  .articles-best__extra-info {
    position: absolute;
    bottom: 15px; }

@media (max-width: 1100px) {
  .articles-best__period--current {
    position: relative;
    top: -2px;
    right: 2px;
    padding-bottom: 6px; }
  .articles-best__articles {
    margin-top: 27px;
    margin-left: -2px; }
  .articles-best__article:nth-child(1) .articles-best__extra-info,
  .articles-best__article:nth-child(2) .articles-best__extra-info {
    margin-left: 0px; }
  .articles-best__extra-info {
    margin-left: 1px; } }

@media (max-width: 1020px) {
  .articles-best {
    margin-top: 25px;
    margin-left: 16px; }
    .articles-best__period--current {
      top: 0px;
      border-bottom-width: 4px; } }

@media (max-width: 570px) {
  .articles-best {
    margin-top: 27px; }
    .articles-best__period {
      margin-right: 12px; }
      .articles-best__period--current {
        right: 1px;
        border-bottom-width: 2px;
        padding-bottom: 2px; }
      .articles-best__period:nth-child(2) {
        margin-right: 11px; }
        .articles-best__period:nth-child(2) .articles-best__button--mobile {
          width: 50px; }
          .articles-best__period:nth-child(2) .articles-best__button--mobile::after {
            content: 'Год'; }
      .articles-best__period:nth-child(3) {
        margin-right: 0; }
        .articles-best__period:nth-child(3) .articles-best__button--mobile::after {
          content: 'Все время'; }
    .articles-best__button--mobile {
      font-size: 0;
      width: 80px;
      height: 24px; }
      .articles-best__button--mobile::after {
        font-weight: bold;
        font-size: 17px;
        line-height: 24px;
        color: #333333; }
    .articles-best__articles {
      margin-top: 21px; }
    .articles-best__article {
      margin-right: 16px; }
    .articles-best__link {
      min-height: 167px;
      padding: 15px 4px 18px 15px;
      margin: 5px; }
    .articles-best_extra-info {
      bottom: 18px; } }

.aside__block {
  margin-bottom: 20px; }
  .aside__block:nth-child(2) {
    padding-bottom: 23px; }
  .aside__block:nth-child(4) {
    padding-top: 21px;
    padding-bottom: 22px; }

@media (max-width: 1100px) {
  .aside__block {
    margin-bottom: 17px; }
  .aside__block:nth-child(3) {
    padding-bottom: 21px; }
  .aside__block:nth-child(4) {
    padding-bottom: 23px; } }

.block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  padding-right: 17px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }

.block__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px; }

.block__heading {
  width: 92px;
  height: 24px;
  font-family: "Brutal", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #333333;
  border-radius: 2px; }

.block__heading--news {
  height: 25px; }

.block__all {
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #0776D2; }
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
    .block__all:hover {
      text-decoration: underline; } }

.block__series {
  margin-bottom: 25px; }

.series-block__topic {
  display: inline-block;
  max-width: 214px;
  font-family: "Brutal", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333; }

.series-block__list {
  position: relative;
  padding-top: 6px;
  margin-top: 19px;
  border-left: 1px solid #828282; }
  .series-block__list::before, .series-block__list::after {
    content: '';
    position: absolute;
    width: 17px; }
  .series-block__list::before {
    top: 0;
    left: -9px;
    height: 9px;
    background: -o-linear-gradient(269.85deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 126.37%);
    background: linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 126.37%);
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
        -ms-transform: matrix(1, 0, 0, -1, 0, 0);
            transform: matrix(1, 0, 0, -1, 0, 0); }
  .series-block__list::after {
    bottom: -11px;
    left: -9px;
    height: 52px;
    background: -o-linear-gradient(269.14deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 74.8%);
    background: linear-gradient(180.86deg, rgba(255, 255, 255, 0) 0.23%, #ffffff 74.8%); }

.series-block__item {
  position: relative;
  margin-bottom: 22px; }

.series-block__link {
  display: inline-block;
  padding-left: 14px;
  font-size: 15px;
  line-height: 21px;
  text-decoration: none;
  color: #333333;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear; }
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
    .series-block__link:hover {
      color: #FAAF3F;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear; } }
  .series-block__link::before {
    content: '';
    position: absolute;
    left: -6px;
    top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #828282;
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear; }
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
    .series-block__link:hover::before {
      background-color: #FAAF3F;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear; } }

.block__button {
  display: inline-block;
  width: 214px;
  height: 32px;
  font-family: "Brutal", Arial, sans-serif;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-decoration: none;
  background-color: #FAAF3F;
  border-radius: 2px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear; }
  @media (hover), (min-width: 0\0), (min--moz-device-pixel-ratio: 0) {
    .block__button:hover {
      background-color: #F49F21;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear; } }
  .block__button:focus {
    background-color: #F49F21;
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear; }

.block__test {
  margin-top: 17px;
  margin-left: -1px;
  margin-bottom: 20px; }

.test-block {
  background-color: rgba(0, 0, 0, 0.5);
  background: url(../img/test.png) center no-repeat;
  background-size: cover; }

.test-block__link {
  margin: 8px;
  padding: 52px 12px 15px; }

.test-block__topic {
  font-family: "Brutal", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em; }

.test-block__icons {
  margin-top: 60px; }

.block__video {
  margin-top: 24px;
  margin-bottom: 36px; }

.video-block {
  position: relative;
  width: 214px;
  min-height: 146px;
  background-color: rgba(0, 0, 0, 0.2);
  background: url(../img/html5.png) center no-repeat;
  background-size: cover; }

.video-block__link {
  margin: 8px;
  min-width: 198px;
  min-height: 125px; }

.video-block__play {
  position: absolute;
  left: 50%;
  top: 52%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%; }
  .video-block__play::after {
    content: '';
    position: absolute;
    top: 34%;
    left: 39%;
    border-left: 9px solid #ffffff;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent; }

.video-block__topic {
  position: absolute;
  bottom: -37px;
  left: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  color: #333333; }

.news-block {
  padding-top: 6px;
  font-size: 15px;
  line-height: 21px;
  color: #333333; }

.news-block__data {
  font-weight: bold; }

.news-block__time {
  display: block;
  margin-top: 6px;
  margin-bottom: 4px;
  margin-left: -1px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #516E77; }

@media (max-width: 1100px) {
  .block__heading {
    font-weight: 500; }
  .block__button {
    font-weight: 500; }
  .series-block__item {
    margin-bottom: 23px; }
  .block__series {
    margin-bottom: 26px; }
  .block__test {
    margin-top: 18px; }
  .test-block__icons {
    margin-top: 61px; }
  .block__test {
    margin-bottom: 21px; }
  .block__video {
    margin-top: 25px; }
  .video-block__link {
    min-height: 126px; }
  .video-block__topic {
    bottom: -38px; }
  .news-block__time {
    margin-top: 5px;
    margin-bottom: 7px; } }

.series {
  margin-top: 38px;
  padding-bottom: 27px; }

.series__heading {
  display: inline-block;
  margin-left: -2px;
  margin-bottom: 34px;
  font-family: "PT Sans Caption";
  font-size: 28px;
  letter-spacing: -0.02em; }

.series__slider-buttons {
  right: -12px;
  top: -4px; }

.series__list {
  position: relative;
  left: -8px;
  padding-left: 7px;
  width: -webkit-calc(100% + 10px);
  width: calc(100% + 10px); }

.series__item {
  max-width: 380px;
  margin: 5px 0 11px;
  margin-right: 30px;
  padding-bottom: 27px;
  padding-right: 20px; }
  .series__item .block__series {
    margin-bottom: 8px; }
  .series__item .series-block__topic {
    margin-top: 1px;
    margin-left: 1px; }
  .series__item .series-block__list {
    margin-left: 2px;
    margin-top: 17px;
    padding-bottom: 15px; }
  .series__item .series-block__list::after {
    bottom: -17px; }
  .series__item .series-block__item {
    margin-bottom: 23px; }
  .series__item .series-block__item:nth-child(3),
  .series__item .series-block__item:nth-child(4) {
    margin-bottom: 21px; }
  .series__item .series-block__item:last-child {
    margin-bottom: 0; }
  .series__item .series-block__link {
    padding-left: 18px; }

.series__item-header {
  display: none; }

.series__button {
  width: 197px;
  margin-left: 71px; }

@media (max-width: 1100px) {
  .series {
    margin-top: 34px; }
  .series__heading {
    margin-bottom: 38px; }
  .series__button {
    margin-left: 58px; }
  .series__list {
    padding-left: 8px; }
  .series__item {
    width: 350px;
    padding-left: 19px; }
    .series__item .block__series {
      margin-bottom: 7px; } }

@media (max-width: 1020px) {
  .series {
    margin-top: 36px; }
  .series__heading {
    margin-left: 14px;
    margin-bottom: 42px; }
  .series__list {
    width: auto;
    left: 0;
    padding-left: 14px; }
  .series__item {
    width: 325px;
    padding-left: 19px; }
  .series__item {
    margin-right: 20px;
    padding-bottom: 20px; }
    .series__item .block__series {
      margin-bottom: 19px; }
  .series__button {
    width: 100%;
    margin-left: 0; } }

@media (max-width: 570px) {
  .series {
    margin-top: 21px; }
  .series__heading {
    display: none; }
  .series__list {
    padding-left: 15px; }
  .series__item {
    width: 288px;
    padding-bottom: 20px; }
    .series__item .series-block__list {
      margin-left: 1px;
      padding-right: 29px; }
    .series__item .block__series {
      margin-bottom: 20px; }
    .series__item .series-block__item {
      display: none;
      margin-bottom: 15px; }
    .series__item .series-block__item:nth-child(1) {
      display: block; }
    .series__item .series-block__item:nth-child(2) {
      display: block;
      margin-bottom: 12px; }
    .series__item .series-block__item:nth-child(3) {
      display: block;
      margin-bottom: 0; }
    .series__item .series-block__link {
      padding-left: 14px; }
  .series__item-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .series__item-header .block__heading {
      margin-left: 1px; } }
