@font-face {
  font-weight: 400;
  font-family: "Brutal";
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Brutal/regular/BrutalRegular.woff2') format('woff2'),
  url('../fonts/Brutal/regular/BrutalRegular.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-family: "Brutal";
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Brutal/medium/BrutalMedium.woff2') format('woff2'),
  url('../fonts/Brutal/medium/BrutalMedium.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: "Brutal";
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Brutal/bold/BrutalBold.woff2') format('woff2'), 
  url('../fonts/Brutal/bold/BrutalBold.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PTSans/Regular/PTSansRegular.woff2') format('woff2'),
  url('../fonts/PTSans/Regular/PTSansRegular.woff') format('woff');
  
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PTSans/Bold/PTSansBold.woff2') format('woff2'),
  url('../fonts/PTSans/Bold/PTSansBold.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PT_Sans_Caption/Regular/PTSansCaptionRegular.woff2') format('woff2'),
  url('../fonts/PT_Sans_Caption/Regular/PTSansCaptionRegular.woff') format('woff');
  
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PT_Sans_Caption/Bold/PTSansCaptionBold.woff2') format('woff2'),
  url('../fonts/PT_Sans_Caption/Bold/PTSansCaptionBold.woff') format('woff');
}

body {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
