$white: #ffffff;
$black: #000000;
$light-black: #333333;
$light-gray: #E5E5E5;
$grey: #828282;
$dark-gray: #516E77;
$blue: #0776D2;
$dark-blue: #223036;
$orange: #FAAF3F;
$dark-orange: #F49F21;
$darker-orange: #F7AB32;

